<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Spring Boot Thymeleaf Hello World Example</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

<style>



ul {
    display: inline-block !important;
    border: 1px solid #efefef;
    list-style: none !important;
    margin-top: 20px !important;
    padding: 0;
}
ul li {
    display: inline-block !important;
    border-right: 1px solid #dcdcdc
}
ul li:last-child {
    border-right: none
}
ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 10px
}
 
</style>

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">Mint</a> <a class="navbar" href="#">get
			hits</a>
	</nav>

	<div  class="container">

	<div class="panel panel-default">
    <div class="panel-heading">
        <h4>List of hits</h4>
    </div>
    <div class="panel-body table-responsive">
        <table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Card No</th>
             <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="book, iStat : ${data.payload}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${book.key}" />
            <td th:text="${book.value}" />
        </tr>
    </tbody>
</table>

<ul>
  <li th:if="${data.size > 0}" class="pagination"
    th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/hits(limit=${data.limit}, start=${pageNumber})}"
        th:text=${pageNumber}
        th:class="${pageNumber==data.start + 1} ? active">Home</a></li>
</ul>
    </div>
</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript">
	
   
		function loadSearchResult()
		    		{
		    			
			var inputVal = document.getElementById("search").value;
			
			fetch("http://localhost:8080/api/card-scheme/verify/"+inputVal) // Call the fetch function passing the url of the API as a parameter
			.then(data => data.json()
			.then(d => {
				if(d.success == false){
					
					alert("Data not found");
					
				}else{
					document.getElementById("scheme").value = d.payload.scheme;
					document.getElementById("type").value = d.payload.type;
					document.getElementById("bank").value = d.payload.bank;
				}
				
				
			}) 
			)
			.catch(function(error) {
			    // This is where you run code if the server returns any errors
				alert("An error occured");
			});
          
		    			
		    		}
    		</script>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</body>


</html>

